html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #404040;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.player {
    max-width: 640px;
}

.toolbar {
    position: relative;
    bottom: 7px;
    transition: all 0.2s ease-in;
}

.player:hover > .toolbar {
    transform: translateY(-25px);
}

.player:hover .controls {
    opacity: 0.7;
}

.timeline {
    transition: all 0.2s ease-in;
}

.toolbar:hover .timeline {
    transform: scaleY(5) translateY(-1.3px);
}

.progress {
    position: absolute;
    height: 3px;
    background-color: red;
    width: 0;
}

.progressEmpty {
    height: 3px;
    background-color: lightpink;
}

.controls {
    display: flex;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.button {
    border: none;
    outline: none;
}

.playButton {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.speedButton {
    font-size: 0.75rem;
    width: 48px;
}

.volumeButton {
    font-size: 1.2rem;
    padding: 0;
    text-align: center;
    width: 32px;
}

.volumeButton:hover ~ .volumeSlider {
    display: block;
}

.volumeSlider:hover {
    display: block;
}

.volumeSlider {
    display: none;
    background-color: palevioletred;
    -webkit-appearance: none;
    outline: none;
    position: absolute;
    transform: rotate(-90deg);
    left: 50px;
    bottom: 59.5px;
    width: 100px;
    height: 30px;
}

.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 30px;
    background: red;
    cursor: pointer;
}

.time {
    color: white;
    margin: auto 0 auto 8px;
    font-size: 0.75rem;
}