body {
  margin: 0;
  display: grid;
  grid-template-rows: 20vh auto;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

aside {
  text-align: center;
  background-color: #ebe6e6;
}

main {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.demo {
  text-align: center;
  flex-basis: 25%;
  padding-bottom: 64px;
}

.demo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}