body {
  margin: 0;
  display: grid;
  grid-template-rows: 12vh auto;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f9f9;
}

aside {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #1b262c;
  box-shadow: 0px -20px 15px 20px rgba(0, 0, 0, 0.75);
  z-index: 100;
  padding: 32px;
}

h1 {
  font-size: 2rem;
}

.col {
  flex: 50%;
}

main {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.demo {
  text-align: center;
  flex-basis: 25%;
  padding-bottom: 64px;
  margin: 0 auto;
}

.demo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* mobile */
@media (max-height: 820px), (max-width: 550px)  {
  body {
    grid-template-rows: 30vh auto;
  }

  h1 {
    font-size: 1.5rem;
  }

  aside {
    padding: 16px;
    font-size: 0.8rem;
  }

  .demo img {
    width: 350px;
  }
}