body {
  margin: 0;
  display: grid;
  grid-template-rows: 18vh auto;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

aside {
  text-align: center;
  background-color: #ebe6e6;
  box-shadow: 0px -20px 15px 20px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

main {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.demo {
  text-align: center;
  flex-basis: 25%;
  padding-bottom: 64px;
  margin: 0 auto;
}

.demo img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* mobile */
@media (max-height: 820px) {
  body {
    grid-template-rows: 30vh auto;
  }

  aside {
    padding: 16px;
  }

  .demo img {
    width: 350px;
  }
}