body {
    margin: 3%;
    font-family: 'Arimo', sans-serif;
    transition: background-color 0.1s ease-out;
    background-color: #2c2826;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.drum {
    width: 200px;
    height: 200px;
    margin-top: 5%;
    background: white;
    box-shadow: inset 0px 0px 0px 27px rgba(0,0,0,0.75);
    
    font-size: 4rem;
    color: black;
    text-align: center;
    line-height: 200px;

    transition: all 0.07s;
}

.played {
    transform: scale(1.3);
}

@media (max-width: 490px) {
    .drum {
        width: 120px;
        height: 120px;
        margin-top: 5%;
        background: black;
    }
}