body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    text-align: center;
    background-color: #fdd365;
}

.listContainer {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.63);
}

.listItem {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    user-select: none;
    border-bottom: 2px inset #E3E3E3;
    
    transition: all 0.1s ease-in;
}

.listItem--firstSelect {
    box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
}

.listItem--selected {
    text-decoration: line-through;
    background-color: lightgreen;
}

.cancel {
    width: 50px;
    height: 50px;
    font-size: 2em;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 24px;
}