html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  background-color: #fff;
}

.container {
  position: relative;
  height: 100%;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 11rem;
  letter-spacing: 1rem;
  text-shadow: 0px 0px 0px #000000;
  color: white;
  background-color: rgb(114, 114, 114);
}