body {
  margin: 0;
  height: 100%;
  text-align: center;
  background-color: #e1f4f3;
}

.content {
  margin: 0 auto;
  width: 60%;
  height: 100%;
  background-color: #706c61;
}

.animate {
  transition: all 0.3s ease-in;
  opacity: 0;
}

.animate-in {
  transform: translateY(-50px);
  opacity: 1;
}